$fotnt-family: 'Roboto', sans-serif;
$font-header: 'Roboto Slab', sans-serif;
$font-size: 16px;

$container-size: 1300px;

$lg: 1200px;
$ul: 1340px;
$md: 992px;
$sm: 992px;
$xs: 768px;
$xxs: 576px;

$gap: 20px;
$gap-lg: $gap * 2;
$gap-sm: calc($gap / 2);
$gap-x2: $gap * 2;
$gap-x3: $gap * 3;
$gap-x4: $gap * 4;
$gap-x5: $gap * 5;
