@use '../presets/' as *;
@use '../mixins/' as *;

.header-navbar {
    &__list{
        display: grid;
        justify-content: end;
        gap: $gap;
        grid-template-columns: repeat(auto-fit,minmax($gap-x2,max-content));
        @include unlist(0 (-$gap-sm) 0 0);
    }

    &__link{
        display: block;
        font-size: 1.125rem;
        padding: $gap $gap-sm;
        letter-spacing: 0.09em;
        &:hover,
        &:focus{
            color: $color-accent;
        }
        @media (max-width: $xs) {
            display: none;
        }
    }

    &__btn{
        display: none;
        @media (max-width: $xs) {
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: end;
        }
        &-row{
            height: 2px;
            width: 24px;
            background-color: $color-white;
        }
    }
}