@use '../presets/' as *;
@use '../mixins/' as *;

.header-navbar {
    &__list{
        display: grid;
        justify-content: end;
        gap: $gap;
        grid-template-columns: repeat(auto-fit,minmax($gap-x2,max-content));
        @include unlist(0 (-$gap-sm) 0 0);
    }

    &__link{
        display: block;
        font-size: 1.125rem;
        padding: $gap $gap-sm;
        letter-spacing: 0.09em;
        transition: color 0.3s;
        &:hover,
        &:focus{
            color: $color-accent;
        }
        @media (max-width: $xs) {
            display: none;
        }
    }

    &__btn{
        display: none;

    }
}