@use "../mixins/" as *;
@use "../presets/" as *;

.footer{
    display: flex;
    align-items: center;
    min-height: 250px;
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;

    background-color: $color-primary;
    &__container {
        @extend %container;
    }
    &__copyright {
        text-align: center;

        &-first {
        display: block;

        margin-bottom: 3px;

        transform: translateX(0.1em);
        letter-spacing: 0.3em;

        font-weight: 100;
        }

        &-last {
        display: block;

        letter-spacing: 0.05em;

        color: $color-white;
        }
    }
}